@{
    ViewBag.Title = "About";
}

<div class="col-md-12 page-body">
    <div class="row">


        @*<div class="sub-title">
            <h2>About Me</h2>
            <a href="contact.html"><i class="icon-envelope"></i></a>
        </div>*@

        <div style="font-size:medium">


            <h1>Что такое <span class="main-color">блог</span> в интернете</h1>
            Блог – это онлайн журнал, интернет-дневник, основным наполнением которого являются систематически добавляемые записи. Записи содержат текст, фотографии, графические элементы или мультимедиа. Записи в блоге обычно недлинные и сгруппированы в обратной хронологической последовательности. Чаще всего блоги публичны, имеют читателей, вступающих в полемику с автором блога посредством комментариев к записи или в своем личном блоге.

            <p style="font-size:medium"><span class="main-color">Комментарии</span> к блогу сделали его средством общения в сети, которое по ряду критериев превосходит электронною почту, форумы и чаты.

                Персональные сайты, состоящие из записей владельца и комментариев к ним, также часто именуют блогами.</p>

            <p style="font-size:medium">
                Набирать популярность блоги начали с 1996 года. В 1999 году компания из Сан-Франциско - Pyra Labs открыла сайт Blogger.com, ставший первой бесплатной блоговой службой.

                Не только структура записей, но и простота их добавления является особенностью блогов. Владельцу блога (блогеру) достаточно идентифицироваться на веб-сервере чтобы добавить новую запись. Сервер размещает самые свежие сообщения вверху.

                Блог предоставляет возможность заявить о чем-то однократно, чтобы многие это услышали. Каждый прочтет запись в удобное для него время, либо проигнорирует ее, если у него возникнет такое желание.
            </p>
            <p style="font-size:medium">
                Для чего нужен блог и как много он значит для блогера?
                Блогосфера отчасти может выполнять функции социальных сетей, позволяя восстанавливать и поддерживать прервавшиеся социальные связи. Большинство людей, ведущих и комментирующих блоги, делают это ради общения с интересными людьми и расширения своей аудитории. Блогер может найти в сети друга или слушателя. Посредством блога можно заявить о себе, поделиться своими мыслями, идеями, творениями. Любой блог, в той или иной степени, транслирует информацию о личности автора.
                Для многих людей ведение и чтение блогов, полемика в комментариях – это развлечение. В случае наличия свободного времени блог используют как источник полезной информации, развлекательного чтения. В свою очередь, при нехватке времени на полноценное общение, люди могут заменить его на общение в блогах в удобное для них время и с допустимой интенсивностью.
                Блог много значит для пользователей в качестве личного дневника, записи в котором можно перечитывать по прошествии времени. Это позволит не забыть о подробностях событий, произошедших в жизни блогера.
                При изложении своих идей в письменном виде легче анализировать ситуацию, упорядочивать свои мысли. Многие блогеры, посредством своих записей, формируют некий образ в сети, который стараются поддерживать.
                Также блог можно рассматривать, как возможность поделиться своими проблемами и получить поддержку и совет большого количества людей – это своего рода психотерапия.
                С помощью блога можно формировать видение своей организации, влиять на впечатления о продуктах и услугах, тем самым продвигая их.
            </p>
</div>
               

        </div>

    </div>


