@{
    ViewBag.Title = "Contact";
}

<!-- Contact Me Start -->
<div class="post-title margin-top-70">
    <h1>Contact <span class="main-color">Me</span></h1>
</div>


<div class="row">

    <div class="col-md-4 col-sm-4">
        <div class="contact-us-detail">
            <i class="icon-screen-smartphone color-6"></i>
            <p><a href="tel:+1234567890">+1234 567 890</a></p>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="contact-us-detail">
            <i class="icon-envelope-open color-5"></i>
            <p><a href="mailto:name@domain.com">name@domain.com</a></p>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="contact-us-detail">
            <i class="icon-clock color-3"></i>
            <p>Пон - Пят 09:00 – 18:00</p>
        </div>
    </div>

</div>


<div class="row margin-top-30">
    <div class="col-md-12">

        <div class="row">
            <form>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="name" class="form-control" placeholder="Your Name">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" placeholder="Your Email">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="website" class="form-control" placeholder="Your Website">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" id="address" class="form-control" placeholder="Where are You From?">
                    </div>
                </div>

                <div class="col-sm-12">
                    <select id="subject" class="form-group form-control">
                        <option value="" selected disabled>Subject</option>
                        <option>Website Design & Development</option>
                        <option>Wordpress Development</option>
                        <option>Search Engine Optimization</option>
                        <option>Mobile Website</option>
                        <option>I Want to General Talk</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="col-sm-12">
                    <div class="textarea-message form-group">
                        <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
                    </div>
                </div>


                <div class="text-center">
                    <button type="submit" class="load-more-button">Send</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- Contact Me End -->

<div class="col-md-8 col-md-offset-2">
    <form id="mc-form" method="post" action="">

        <div class="subscribe-form margin-top-20">
            <input id="mc-email" type="email" placeholder="Email Address" class="text-input">
            <button class="submit-btn" type="submit">Submit</button>
        </div>
        <p>Subscribe to my weekly newsletter</p>
        <label for="mc-email" class="mc-label"></label>
    </form>

</div>