@using Blog_CP_7.Models
@model Post

@{
    ViewBag.Title = "TagAdd";
}

<h2>Добавление Тегов</h2>


@using (Html.BeginForm("TagAdd", "Blog", new { @pid = Model.Id }, FormMethod.Post))
{
    <legend>Информация о посте</legend>

    <div class="display-label"><b>Заголовок</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label"><b>Автор</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label"><b>Теги</b> </div>
    @Html.ListBox("selTag", ViewBag.AllTags as MultiSelectList)
    @*@Html.DropDownList("selTag", ViewBag.AllTags as SelectList)*@
    <p style="padding-top:1em">
        <input type="submit" value="Сохранить" class="btn btn-success"/>
    </p>
    <div>
        <a href="@Url.Action("EditPost", "Blog", new { @id = Model.Id })">Вернуться</a>
    </div>
}